<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>littlemac_block_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{24,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,60}}</string>
                <key>sourceSize</key>
                <string>{24,60}</string>
            </dict>
            <key>littlemac_block_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,139},{17,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,56}}</string>
                <key>sourceSize</key>
                <string>{17,56}</string>
            </dict>
            <key>littlemac_dodgeRight_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{22,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,61}}</string>
                <key>sourceSize</key>
                <string>{22,61}</string>
            </dict>
            <key>littlemac_dodgeRight_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,65},{24,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,61}}</string>
                <key>sourceSize</key>
                <string>{24,61}</string>
            </dict>
            <key>littlemac_hitRight_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,75},{28,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,62}}</string>
                <key>sourceSize</key>
                <string>{28,62}</string>
            </dict>
            <key>littlemac_hitRight_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,65},{26,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,61}}</string>
                <key>sourceSize</key>
                <string>{26,61}</string>
            </dict>
            <key>littlemac_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{26,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,61}}</string>
                <key>sourceSize</key>
                <string>{26,61}</string>
            </dict>
            <key>littlemac_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,128},{24,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,61}}</string>
                <key>sourceSize</key>
                <string>{24,61}</string>
            </dict>
            <key>littlemac_jabLeft_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{28,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,61}}</string>
                <key>sourceSize</key>
                <string>{28,61}</string>
            </dict>
            <key>littlemac_jabLeft_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,158},{28,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,61}}</string>
                <key>sourceSize</key>
                <string>{28,61}</string>
            </dict>
            <key>littlemac_jabLeft_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,159},{23,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,69}}</string>
                <key>sourceSize</key>
                <string>{23,69}</string>
            </dict>
            <key>littlemac_jabRight_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,158},{28,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,61}}</string>
                <key>sourceSize</key>
                <string>{28,61}</string>
            </dict>
            <key>littlemac_jabRight_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,85},{23,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,72}}</string>
                <key>sourceSize</key>
                <string>{23,72}</string>
            </dict>
            <key>littlemac_knockout.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,221},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>littlemac_special_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,154},{24,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,51}}</string>
                <key>sourceSize</key>
                <string>{24,51}</string>
            </dict>
            <key>littlemac_special_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,64},{24,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,59}}</string>
                <key>sourceSize</key>
                <string>{24,59}</string>
            </dict>
            <key>littlemac_special_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,158},{28,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,61}}</string>
                <key>sourceSize</key>
                <string>{28,61}</string>
            </dict>
            <key>littlemac_special_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,85},{23,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,72}}</string>
                <key>sourceSize</key>
                <string>{23,72}</string>
            </dict>
            <key>littlemac_special_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{31,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,75}}</string>
                <key>sourceSize</key>
                <string>{31,75}</string>
            </dict>
            <key>littlemac_special_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,65},{26,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,61}}</string>
                <key>sourceSize</key>
                <string>{26,61}</string>
            </dict>
            <key>littlemac_tired_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{24,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,61}}</string>
                <key>sourceSize</key>
                <string>{24,61}</string>
            </dict>
            <key>littlemac_tired_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{23,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,57}}</string>
                <key>sourceSize</key>
                <string>{23,57}</string>
            </dict>
            <key>littlemac_upperLeft_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,158},{28,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,61}}</string>
                <key>sourceSize</key>
                <string>{28,61}</string>
            </dict>
            <key>littlemac_upperLeft_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,159},{23,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,69}}</string>
                <key>sourceSize</key>
                <string>{23,69}</string>
            </dict>
            <key>littlemac_upperLeft_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{20,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,81}}</string>
                <key>sourceSize</key>
                <string>{20,81}</string>
            </dict>
            <key>littlemac_upperRight_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,81}}</string>
                <key>sourceSize</key>
                <string>{22,81}</string>
            </dict>
            <key>littlemac_victory_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,2},{24,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,71}}</string>
                <key>sourceSize</key>
                <string>{24,71}</string>
            </dict>
            <key>littlemac_victory_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,230},{24,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,63}}</string>
                <key>sourceSize</key>
                <string>{24,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>littlemac.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24757585eff70f8adafb04d78dd7b6fc$</string>
            <key>textureFileName</key>
            <string>littlemac.png</string>
        </dict>
    </dict>
</plist>
